
@{
    ViewData["Title"] = "Index";
}
<h1>Laboratorio</h1>

<div class ="container">
   <form id ="FormBuscar">
      <div class="form-group">
         <label for="Buscar Nombre" </label>
         <input type="text" class="form-control" id="">
      </div>
      <div class="form-group"">
         <label> for="Buscar Direccion"</label>
         <input type="text" class="form-control" id="">
      </div>
      <div class="form-group"">
         <label for="Buscar Contacto" </label>
         <input type="text" class="form-control" id="">
      </div>
      <div class="mb-3 form-check">
         <input type="checkbox" class="form-check-input" id="exampleCheck1">
         <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
   </form>
    
   <button type="text" class="btn btn-primary" Onclick="Buscar">Buscar</button>

   <div id="divTabla">
   </div>
</div>

<script src="~/js/general.js"></script>
<script src="~/js/laboratorio.js"></script>