
@{
    ViewData["Title"] = "TipoMedicamento";
}

<h1>Título: TipoMedicamento</h1>


<div id="divTabla">


</div>

<script src="~/js/general.js"></script>
<script src="~/js/tipomedicamento.js"></script>