
@{
    ViewData["Title"] = "DetalleMedicamento";
}

<h1>Detalle del Medicamento</h1>

<div id="divTabla">

</div>

<script src="~/js/general.js"></script>
<script src="~/js/DetalleMedicamento.js"></script>