@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="input-group mb-3">
    <input type="text" class="form-control" id="txtbuscarsucursal" placeholder="Buscar sucursal" aria-label="" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="buscar" onclick="Buscar()">Buscar</button>
    <button class="btn btn-outline-secondary" type="button" id="buscar" onclick="Limpiar()">Limpiar</button>
</div>


<div id="divTabla">

</div>

<script src="~/js/general.js"></script>
<script src="~/js/sucursal.js"></script>